@model CheckChildcareEligibility.Admin.ViewModels.EligibilityOutcomeViewModel
@{
    ViewData["Title"] = "May not be eligible";
}

@inject IConfiguration Configuration

<div class="govuk-grid-column-full">

    <div id="content" data-type="Not_Eligible" class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title"
                 data-module="govuk-notification-banner">
                <div class="govuk-notification-banner__header">
                    <h2 class="govuk-notification-banner__title"
                        id="govuk-notification-banner-title">
                        @ViewData["Title"]
                    </h2>
                </div>
                <div class="govuk-notification-banner__content">
                    <p class="govuk-notification-banner__heading">
                        The children of this parent or guardian may not be eligible for @Model.EligibilityTypeLabel.
                    </p>
                    <p class="govuk-body">They'll need to provide supporting evidence if they think they are eligible.</p>
                </div>
            </div>

            <h1 class="govuk-heading-l">Parent or guardian details</h1>

            <div class="govuk-body">
                <dl class="govuk-summary-list">

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Last Name
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.ParentLastName
                        </dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Date of birth
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @DateTime.Parse(Model.ParentDateOfBirth).ToString("d MMMM yyyy")
                        </dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            National Insurance number
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.ParentNino
                        </dd>
                    </div>
                </dl>
            </div>

            <h1 class="govuk-heading-l">What to do next</h1>
            <p class="govuk-body">You can <a href="#" id="print-link">print this page</a> for the parent or guardian to keep.</p>
            <p class="govuk-body">If the parent or guardian provides supporting evidence, you'll need to review it and decide if they are eligible.</p>
            <h2 class="govuk-heading-m">Guidance</h2>
            @{
                if (Model.EligibilityType == "TwoYearOffer")
                {
                    <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="/childcare/dev/guidance/eypp-evidence">See a complete list of acceptable evidence (opens in new tab)</a>
                }
            }

            @Html.ActionLink("Run another check", "MenuSingleCheck", "Home", new { clearData = true }, new { @class = "govuk-button" })
        </div>

    </div>
</div>