@{
    ViewData["Title"] = "Success - Checks completed";
}

<div class="govuk-grid-column-full">
    @Html.ActionLink("Back", "Index", "Home", null, new { @class = "govuk-back-link backLinkJS" })

    <div id="content" data-type="success" class="govuk-grid-row">
        <div class="govuk-grid-column-full">

            <div class="govuk-notification-banner govuk-notification-banner--success" role="alert"
                 aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                <div class="govuk-notification-banner__header">
                    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                        Success
                    </h2>
                </div>
                <div class="govuk-notification-banner__content">
                    <h1 class="govuk-notification-banner__heading">
                        Checks completed
                    </h1>
                    <p class="govuk-body">
                        Now download the checked file to see which parents or guardians are eligible for @TempData["eligibilityTypeLabel"].
                    </p>
                    <p>@TempData["filePrefix"]-outcomes-YYYYMMDD.csv</p>

                    @Html.ActionLink("Download", "Bulk_check_download", "BulkCheck", null, new { @class = "govuk-button" })
                </div>
            </div>

            <h1 class="govuk-heading-l">Result explainer</h1>
            <p>
                <strong>Eligible</strong> – The children of this parent or guardian are eligible for @TempData["eligibilityTypeLabel"].
            </p>
            <p>
                <strong>May not be eligible</strong> – The children of this parent or guardian may not be eligible for @TempData["eligibilityTypeLabel"]. If they wish to appeal, ask the parent or guardian for evidence.
            </p>
            <p>
                <strong>Information does not match records</strong> – This parent or guardian's personal information doesn't match the departmental records. Either their data was entered incorrectly or their entitlement isn't currently updated on the system.
            </p>
            <p>
                <strong>Try again</strong> – There was a problem accessing this parent or guardian's data to obtain a result. You should try again later.
            </p>


            <p>@Html.ActionLink("Return to dashboard", "Index", "Home")</p>
            <p> @Html.ActionLink("Sign Out", "SignOut", "Account")</p>
        </div>
    </div>
</div>