@using CheckChildcareEligibility.Admin.Domain.Constants.Generic
@model CheckChildcareEligibility.Admin.ViewModels.WorkingFamiliesResponseViewModel

@{
    string bannerReconfirmationMessage = Model.GetBannerReconfirmationMessage();
}

<div class="govuk-panel govuk-panel--@Model.bannerColour govuk-!-margin-bottom-7">
    <h1 class="govuk-panel__title">
        @Model.codeType @Model.codeStatus
    </h1>
    <div class="govuk-panel__body govuk-!-margin-bottom-5">
        @Model.termValidityDetails @Model.Term @Model.currentYear
    </div>
    <div class="govuk-body-l govuk-!-margin-bottom-0">
        @bannerReconfirmationMessage
    </div>
</div>