@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Guidance";
}

<div class="govuk-grid-column-two-thirds">
    <a class="govuk-back-link backLinkJS" href="@Url.Action("Index", "Home")">Back</a>

    <h1 class="govuk-heading-l">@ViewData["Title"]</h1>

    <h2 class="govuk-heading-m">Run a check</h2>
    <p>@Html.ActionLink("Childcare for working families eligibility checks: guidance on outcome pages", "WF_Guidance", "WorkingFamiliesCheck")</p>

    <p>@Html.ActionLink("Early learning for 2-year-olds guidance for reviewing evidence", "_2yo_Guidance", "Check")</p>

    <p>@Html.ActionLink("Early years pupil premium guidance for reviewing evidence", "Eypp_Guidance", "Check")</p>

    <p></p>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-m">Run a batch check</h2>

    <p>@Html.ActionLink("Batch check result explainer", "Bulk_Check_Explainer", "BulkCheck")</p>

</div>