@model CheckChildcareEligibility.Admin.Domain.DfeSignIn.DfeClaims;
@using CheckChildcareEligibility.Admin.Domain.Constants.EligibilityTypeLabels

@{
    ViewData["Title"] = "Dashboard";
}


<div class="govuk-grid-column-full">
    <a class="govuk-back-link-nolink"></a>

    @if (!ViewData.ModelState.IsValid)
    {
        ViewData["Title"] = "Error: Check Details";
        <partial name="_ValidationSummary" model="ViewData.ModelState" />
    }

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

            <h1 class="govuk-heading-l">Run a check for one parent or guardian</h1>
            <p class="govuk-">Choose which eligibility you want to run a check for.</p>

            <div class="dfe-grid-container">
                @* <div class="dfe-card">
                    <div class="dfe-card-container">
                        <h2 class="govuk-heading-m">
                            <form method="post" action="@Url.Action("MenuSingleCheck", "Home")">
                                <input type="hidden" name="eligibilityType" value="WF" />
                                <button class="button-as-link-dfe-card-style govuk-link govuk-link--no-visited-state dfe-card-link--header"
                                        type="submit">
                                    @EligibilityTypeLabels.Labels["WF"]
                                </button>
                            </form>
                        </h2>
                        <p>30 hours free childcare for children aged 9 months to 4 years.</p>
                    </div>
                </div> *@

                <div class="dfe-card">
                    <div class="dfe-card-container">
                        <h2 class="govuk-heading-m">
                            <form method="post" action="@Url.Action("MenuSingleCheck", "Home")">
                                <input type="hidden" name="eligibilityType" value="2YO" />
                                <button class="button-as-link-dfe-card-style govuk-link govuk-link--no-visited-state dfe-card-link--header"
                                        type="submit">
                                    @EligibilityTypeLabels.Labels["2YO"]
                                </button>
                            </form>
                        </h2>
                        <p>15 hours free early learning for children aged 2 years in families receiving additional support.</p>
                    </div>
                </div>

                <div class="dfe-card">
                    <div class="dfe-card-container">
                        <h2 class="govuk-heading-m">
                            <form method="post" action="@Url.Action("MenuSingleCheck", "Home")">
                                <input type="hidden" name="eligibilityType" value="EYPP" />
                                <button class="button-as-link-dfe-card-style govuk-link govuk-link--no-visited-state dfe-card-link--header"
                                        type="submit">
                                    @EligibilityTypeLabels.Labels["EYPP"]
                                </button>
                            </form>
                        </h2>
                        <p>
                            Extra early years provider funding for eligible children age 9 months to 2 years or eligible 3 and 4-year-olds.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/validationSummary.js"></script>
