@using CheckChildcareEligibility.Admin.Domain.Constants.EligibilityTypeLabels

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Batch check result explainer";
}

<div class="govuk-grid-column-two-thirds">
    <a class="govuk-back-link" href="@Url.Action("Bulk_Check_Status", "BulkCheck")" onclick="history.back(); return false;">Back</a>
    @* <a class="govuk-back-link-nolink"></a> *@

    <h1 class="govuk-heading-l govuk-!-margin-bottom-4">@ViewData["Title"]</h1>

    <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
        <div class="govuk-accordion__section">

            <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                        @EligibilityTypeLabels.Labels["WF"]
                    </span>
                </h2>
            </div>

            <div id="accordion-default-content-1" class="govuk-accordion__section-content"
                 aria-labelledby="accordion-default-heading-1">
                <p><strong>Code valid</strong> - The eligibility code is valid. The code could be one that can be used now or one that is in the grace period.</p>
                <p><strong>Code not valid for current term</strong> - The eligibility code has either expired or is one that cannot be used yet.</p>
                <p><strong>Information does not match records</strong> - The eligibility code and personal information does not match departmental records. Either the data was entered incorrectly or the entitlement is not currently updated on the system.</p>
                <p><strong>System error - try again later</strong> - There was a problem accessing this parent or guardian's data to obtain a result. You should try again later.</p>
            </div>
        </div>

        <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                        @EligibilityTypeLabels.Labels["2YO"]
                    </span>
                </h2>
            </div>

            <div id="accordion-default-content-2" class="govuk-accordion__section-content"
                 aria-labelledby="accordion-default-heading-2">
                <p><strong>Eligible</strong> - The children of this parent or guardian are eligible for early learning for 2-year-olds.</p>
                <p><strong>May not be eligible</strong> - The children of this parent or guardian may not be eligible for early learning for 2-year-olds. If they wish to appeal, ask the parent or guardian for evidence. <!-- <a href="#">View the list of acceptable evidence</a>.--> </p>
                <p><strong>Information does not match records</strong> - This parent or guardian's personal information doesn't match the departmental records. Either their data was entered incorrectly or their entitlement isn't currently updated on the system.</p>
                <p><strong>System error - try again later</strong> - There was a problem accessing this parent or guardian's data to obtain a result. You should try again later.</p>
            </div>
        </div>

        <div class="govuk-accordion__section">

            <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                        @EligibilityTypeLabels.Labels["EYPP"]
                    </span>
                </h2>
            </div>

            <div id="accordion-default-content-1" class="govuk-accordion__section-content"
                 aria-labelledby="accordion-default-heading-1">
                <p><strong>Eligible</strong> - The children of this parent or guardian are eligible for early years pupil premium.</p>
                <p><strong>May not be eligible</strong> - The children of this parent or guardian may not be eligible for early years pupil premium. If they wish to appeal, ask the parent or guardian for evidence. <!-- <a href="#">View the list of acceptable evidence</a>. --></p>
                <p><strong>Information does not match records</strong> - This parent or guardian's personal information doesn't match the departmental records. Either their data was entered incorrectly or their entitlement isn't currently updated on the system.</p>
                <p><strong>System error - try again later</strong> - There was a problem accessing this parent or guardian's data to obtain a result. You should try again later.</p>
            </div>
        </div>
    </div>
</div>