@using CheckChildcareEligibility.Admin.Domain.Constants.EligibilityTypeConstants

@model CheckChildcareEligibility.Admin.ViewModels.BulkCheckStatusViewModel
@{
    Dictionary<string, string> statusColor = new()
    {
        { "NotStarted", "govuk-tag--grey" },
        { "InProgress", "govuk-tag--blue" },
        { "Completed", "govuk-tag--green" },
    };

    Dictionary<string, string> statusName = new()
    {
        { "NotStarted", "Not Started" },
        { "InProgress", "In Progress" },
        { "Completed", "Complete" },
    };

    Dictionary<string, string> eligibilityTypeKeyMap = new()
    {
        { "TwoYearOffer", "2YO" },
        { "EarlyYearPupilPremium", "EYPP" },
        { "WorkingFamilies", "WF" }
    };
}

<tr>
    <td class="govuk-table__cell">@(Model.Filename)</td>
    <td class="govuk-table__cell">@(@EligibilityTypeConstants.Labels[eligibilityTypeKeyMap[Model.EligibilityType]])</td>
    <td class="govuk-table__cell">@(Model.DateSubmitted.ToLocalString12HourFormatReadable())</td>
    <td class="govuk-table__cell">@(Model.SubmittedBy)</td>
    <td class="govuk-table__cell">
        <strong class="govuk-tag @statusColor[Model.Status]">
            @statusName[Model.Status]
        </strong>
    </td>

    @if (Model.Status == "Completed")
    {
        <td class="govuk-table__cell">
            @Html.ActionLink(
            "Download Results",
                "Bulk_check_file_download",
                "BulkCheck",
                new { bulkCheckId = Model.BulkCheckId, eligibilityType = Model.EligibilityType },
                new { @class = "govuk-link", aria_label = "Download results submitted on " + Model.DateSubmitted.ToLocalString12HourFormatReadable() }
                )
            |
            @Html.ActionLink(
                    "Delete",
                    "Bulk_check_file_delete",
                    "BulkCheck",
                    new { bulkCheckId = Model.BulkCheckId },
                new { @class = "govuk-link", aria_label = "Delete results submitted on " + Model.DateSubmitted.ToLocalString12HourFormatReadable() }
                    )
        </td>
    }
    else
    {
        <td class="govuk-table__cell"></td>
    }

</tr>
