@model CheckChildcareEligibility.Admin.ViewModels.BulkCheckStatusViewModel
@{
    Dictionary<string, string> statusColor = new()
    {
        { "NotStarted", "govuk-tag--grey" },
        { "InProgress", "govuk-tag--light-blue" },
        { "Complete", "govuk-tag--green" },
    };

    Dictionary<string, string> statusName = new()
    {
        { "NotStarted", "Not Started" },
        { "InProgress", "In Progress" },
        { "Complete", "Complete" },
    };

    Dictionary<string, string> eligibilityTypeName = new()
    {
        { "TwoYearOffer", "2 years old early learning" },
        { "EarlyYearPupilPremium", "Early years pupil premium" }
    };

    var dateSubmittedFormatted = $"{Model.DateSubmitted.ToString("dd MMMM yyyy")} {Model.DateSubmitted.ToString("h:mmtt").ToLower()}";
}

<tr>
    @if (Model.EligibilityType == "TwoYearOffer" || Model.EligibilityType == "EarlyYearPupilPremium")
    {
        <td class="govuk-table__cell">@(Model.Filename)</td>
        <td class="govuk-table__cell">@(@eligibilityTypeName[Model.EligibilityType])</td>
        <td class="govuk-table__cell">@(dateSubmittedFormatted)</td>
        <td class="govuk-table__cell">@(Model.SubmittedBy)</td>
        <td class="govuk-table__cell">
            <strong class="govuk-tag @statusColor[Model.Status]">
                @statusName[Model.Status]
            </strong>
        </td>

        @if (Model.Status == "Complete")
        {
            <td class="govuk-table__cell">
                @Html.ActionLink("Download results", "Bulk_check_file_download", "BulkCheck", new { groupId = Model.Guid, eligibilityType = Model.EligibilityType }) | <a href="#" class="delete-link" data-group-id="@Model.Guid">Delete</a>
            </td>
        }
        else
        {
            <td class="govuk-table__cell"></td>
        }
    }
</tr>
